@import url('fonts.css');

body, input, select, textarea {
    /*color: #fff; */
    font-family: 'GenSen', 'GenYoMin', 'GenSeki',  '標楷體', 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}
